<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ea4gkq.at.ioniqInfo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION  " />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION  " />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>



    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="ea4gkq.at.ioniqInfo.settings.settings"></activity>
        <activity android:name="ea4gkq.at.ioniqInfo.logBusData"></activity>

        <uses-library android:name="com.lge.ivi" />

        <activity android:name="ea4gkq.at.ioniqInfo.MainActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:launchMode="singleTop"
                    android:screenOrientation="landscape" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="ea4gkq.at.ioniqInfo.NaviGpsChangedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hkmc.telematics.gis.action.NAVI_GPS_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="ea4gkq.at.ioniqInfo.wifi.wifiStateListener"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="ea4gkq.at.ioniqInfo.StartMyActivityAtBootReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>

</manifest>